<!doctype html>
<html>
<head>
<meta charset="utf-8">
	<!-- /scripts -->
	<!-- /scripts -->
</head>
<body>
<script type="text/javascript">
	var hash = location.hash.substr(1).split(/[\=\&]+/);
	var token = hash[1];
	localStorage.setItem('token', token);
	window.addEventListener('load', function()  {
        fetch('/auth/finalize', {
            method: 'get',
            headers:
            {
                'Content-Type': 'application/json',
                Authorization: "Bearer " + localStorage.getItem("token")
            }
        }).then( function(response) {
        	return response.json()
  			}).then( function(jsonResponse) {
        	console.log(jsonResponse);
        	if (jsonResponse['success']) {
              	window.location.replace(jsonResponse['redirect_url']);
          }
        }).catch( function(e) {
					console.log(e);
				})
    })
</script>
</body>
</html>